<div style="text-align:center">
    <h1> {{ title }}  </h1>
    
    <form [formGroup]="detailsForm" (ngSubmit)="submit()">
      <mat-form-field>
        <input matInput required type="text" placeholder="Leaving From" formControlName="leavingFrom" name="leavingFrom">
        <mat-error *ngIf="detailsForm.controls.leavingFrom.invalid">Leaving From is required</mat-error>
      </mat-form-field>

      <mat-form-field class="margin">
        <input matInput required type="text" placeholder="Going to" formControlName="goingTo" name="goingTo">
        <mat-error *ngIf="detailsForm.controls.goingTo.invalid">Going To is required</mat-error>
      </mat-form-field>

      <mat-form-field class="margin">
        <input matInput required formControlName="date" placeholder="Date of journy" [matDatepicker]="picker"
               name="date">
        <mat-datepicker-toggle #toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="detailsForm.controls.date.invalid">A valid date is required</mat-error>
      </mat-form-field>

      <mat-form-field class="margin">
        <input matInput required type="number" placeholder="Price" formControlName="price" name="price">
      </mat-form-field>

      <button mat-flat-button type="button" (click)="detailsForm.reset()">Reset</button>
      <button mat-raised-button type="submit" routerLink="/details" color="primary" [disabled]="detailsForm.invalid">SUBMIT
      </button>
      
    </form><br>
    <img width="1000" alt="BusTicket Booking logo" src="https://etimg.etb2bimg.com/photo/69570333.cms">
    </div>
    
    <router-outlet></router-outlet>
